@import 'colors.css';

/* Body */

body {
    margin: 0;
    background: var(--bleu_clair);
    width: 100%;
    height: 100%;
}


h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 74px;
    color: var(--title);
    text-align: center;
}

.disconnection {
    display: flex;
    justify-content: flex-end;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    color: var(--title);
    margin-top: 2%;
    margin-right: 2%;

}

a {
    text-decoration: none;
}

/* login_page */

.div-login {
    width: 1000px;
    height: 400px;
    background: var(--bleu_moyen);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 34px;
    color: var(--title);
    text-align: center;
    padding-top: 55px;
}

form span {
    display: block;
    text-align: center;
}

.username {
    background: var(--bleu_très_foncé);
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--bleu_message);
    padding-left: 30px;
}


.username_error {
    color: var(--title);
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    text-align: center;
    align-items: center;
    background: var(--rouge_déconnecté);
}


.create-account {
    color: var(--title);
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}

.create-account:hover {
    text-decoration-line: underline;
}

.btn-login {
    background: var(--vert_clair);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--black);
    margin-top: 45px;
    cursor: pointer;
}

.btn-login:hover {
    background: var(--bleu_très_foncé);
    color: var(--title);
}
/* page tchat */

#tchat-page {
    display: flex;
}

/* sidebar */

.sidbar {
    width: 30%;
    height: 800px;
    background: var(--bleu_moyen);
    border-radius: 50px;
    margin: 50px 25px 50px 50px;
}

.all-cards {
    width: 100%;
    height: 80%;
    margin-top: 185px;
    background: var(--bleu_moyen);
    border-radius: 0 0 50px 50px;
    overflow: scroll;
}

.all-cards::-webkit-scrollbar {
    display: none;
}

.all-cards::-webkit-scrollbar-thumb {
    background-color: var(--bleu_très_foncé);
    display: none;
}

.search-form {
    width: 26%;
    height: 20%;
    background: var(--bleu_moyen);
    border-radius: 50px 50px 0 0;
    position: absolute;
}

.search {
    background: var(--bleu_très_foncé);
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--title);
    font-family: 'Varela Round', sans-serif;
    padding-left: 30px;
    margin-top: 16%;
    margin-left: 18%;
}

article {
    width: 100%;
    height: 30%;
    display: flex;
    cursor: pointer;
    background: var(--bleu_moyen_foncé);
}

article:hover {
    cursor: pointer;
    background: var(--bleu_très_foncé);

}

/*
article:focus {
    cursor: pointer;
    background: var(--bleu_très_foncé);
}
*/

.picture {
    width: 30%;
    height: 100%;
}

.name {
    display: flex;
    width: 70%;
    height: 100%;
}

.status-0 {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    background: var(--rouge_déconnecté);
    margin-top: 123px;
    margin-left: -25px;
}

.status-1 {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    background: var(--vert_connecté);
    margin-top: 123px;
    margin-left: -25px;
}

.img-sidebar {
    width: 81%;
    height: 60%;
    border-radius: 65px;
    margin-top: 32px;
    margin-left: 20%;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    font-size: 30px;
    color: var(--title);
    text-align: center;
    margin-top: 70px;
}

/* tchat */

.tchat {
    width: 70%;
    height: 823px;
    background: var(--bleu_moyen);
    border-radius: 50px;
    margin: 50px 50px 50px 25px;
    display: block;
}

.top-tchat {
    width: 100%;
    height: 20%;
    background: var(--bleu_très_foncé);
    border-radius: 50px 50px 0 0;
    display: flex;
}

.img-top-bar {
    width: 10%;
    height: 75%;
    border-radius: 60px;
    margin-top: 24px;
    margin-left: 25%;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    font-size: 30px;
    color: var(--title);
    text-align: center;
    margin-top: 58px;
    margin-left: 15%;
}

.nr-messages {
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    font-size: 25px;
    color: var(--grey_message);
    text-align: center;
    margin-left: 15%;
    margin-top: -7%;
}

.midle-tchat {
    width: 90%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    overflow: scroll;

}

.midle-tchat::-webkit-scrollbar {
    display: none;
}

.midle-tchat::-webkit-scrollbar-thumb {
    display: none;
}

.line-tchat {
    display: flex;
}

.img-tchat-1 {
    width: 8%;
    height: 15%;
    border-radius: 60px;
    margin-top: 24px;
}

.color-send-message-1{
    background: var(--bleu_message);
    width: 25%;
    border-radius: 50px;
    margin-top: 2.5%;
    margin-left: 3%;
    color: var(--black);
    font-family: 'Varela Round', sans-serif;
    padding-left: 5%;
    font-size: 25px;
}

.date-send-1 {
    color: var(--grey_message);
    margin-left: 11%;
}


.receive-msg {
    flex-direction: row-reverse;
}

.line-tchat-2 {
    display: flex;
    justify-content: flex-end;
}

.img-tchat-2 {
    width: 8%;
    height: 18%;
    border-radius: 60px;
    float: right;
    margin-top: 20px;
}

.color-send-message-2{
    background: var(--vert_clair);
    width: 25%;
    border-radius: 50px;
    margin-right: 3%;
    color: var(--black);
    font-family: 'Varela Round', sans-serif;
    padding-left: 5%;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-send-2 {
    color: var(--grey_message);
    margin-right: 11%;
    display: flex;
    justify-content: flex-end;
}



.type-message {
    background: var(--bleu_très_foncé);
    width: 80%;
    height: 122px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 30px;
    color: var(--bleu_message);
    padding-left: 30px;
    margin-right: 5px;
    margin-left: 3%;
}

.submit {
    background: var(--bleu_très_foncé);
    width: 10%;
    height: 122px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
    outline: none;
    font-size: 30px;
    color: var(--bleu_message);
    cursor: pointer;
}

.submit:hover {
    color: var(--bleu_très_foncé);
    background: var(--bleu_message);
}