@import 'colors.css';

/* Body */

body {
    margin: 0;
    background: var(--bleu_clair);
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 74px;
    color: var(--title);
    text-align: center;
}

/* login_page */

.div-login {
    width: 1000px;
    height: 400px;
    background: var(--bleu_moyen);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 34px;
    color: var(--title);
    text-align: center;
    padding-top: 55px;
}

span {
    display: block;
    text-align: center;
}

.username {
    background: var(--bleu_très_foncé);
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--bleu_message);
    padding-left: 30px;
}

span a {
    color: var(--title);
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}

span a:hover {
    text-decoration-line: underline;
}

span input[type=submit] {
    background: var(--vert_clair);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--black);
    margin-top: 45px;
    cursor: pointer;
}

/* page tchat */

#tchat-page {
    display: flex;
}

/* tchat */

.tchat {
    width: 70%;
    height: 800px;
    background: #16E116;
    border-radius: 50px;
    margin: 50px 50px 50px 25px;
}

/* sidebar */

.sidbar {
    width: 30%;
    height: 800px;
    background: var(--bleu_moyen);
    border-radius: 50px;
    margin: 50px 25px 50px 50px;
}

.all-cards {
    width: 100%;
    height: 80%;
    margin-top: 185px;
    background: var(--bleu_moyen);
    border-radius: 0 0 50px 50px;
    overflow: scroll;
}

.all-cards::-webkit-scrollbar {
    display: none;
}

.all-cards::-webkit-scrollbar-thumb {
    background-color: var(--bleu_très_foncé);
    display: none;
}

.search-form {
    width: 26%;
    height: 20%;
    background: var(--bleu_moyen);
    border-radius: 50px 50px 0 0;
    position: absolute;
}

.search {
    background: var(--bleu_très_foncé);
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 30px;
    color: var(--title);
    font-family: 'Varela Round', sans-serif;
    padding-left: 30px;
    margin-top: 16%;
}

article {
    width: 100%;
    height: 30%;
    display: flex;
    cursor: pointer;
    background: var(--bleu_moyen_foncé);
}

article:hover {
    cursor: pointer;
    background: var(--bleu_très_foncé);
}

article:focus {
    cursor: pointer;
    background: var(--bleu_très_foncé);
}

.picture {
    width: 30%;
    height: 100%;
}

.status {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    background: #FF0000;
}

.name {
    width: 70%;
    height: 100%;
}

img {
    width: 81%;
    height: 60%;
    border-radius: 65px;
    margin-top: 32px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: var(--title);
    text-align: center;
    margin-top: 58px;
}